:root {
  --accent-lime-color: #cff500;
  --purple-vivid-color: #a66cff;
  --background-light: #ebe9e9;
  --background-dark: #1f2937;
  --text-light: #374151;
  --text-dark: #e5e7eb;

  --primary-font-family: "Titillium Web", serif;
}

body{
  background-color: var(--background-light);
  font-family: var(--primary-font-family);
}