:root {
  --accent-lime-color: #cff500;
  --purple-vivid-color: #a66cff;
  --background-light: #ebe9e9;
  --background-dark: #1f2937;
  --background-black: #000;
  --text-white: #fff;
  --text-light: #374151;
  --text-dark: #e5e7eb;

  --primary-font-family: "Titillium Web", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--background-light);
  font-family: var(--primary-font-family);
}

.container {
  max-width: 1200px;
  width: 88% !important;
  margin: 0 auto;
}

.btn__primary {
  font-size: 1.2em;
  font-weight: 600;
  border: 1px solid var(--background-black);
  padding: 0.75rem 2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.btn__lime {
  background-color: var(--accent-lime-color);
  border: 1px solid var(--accent-lime-color);
}

.btn__primary:hover {
  border: 1px solid var(--background-black);
  color: var(--text-white);
  background-color: var(--background-black);
}
