.social-icons__container li a {
  font-size: 1.25rem;
  display: block;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.social-icons__container li a:hover {
  color: var(--text-black);
  background-color: var(--accent-lime-color);
}
